name: Deployment to Amazon ECS

on:
  push:
    tags:
      - 'dev-*'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      #      Download the code
      - name: Checkout
        uses: actions/checkout@v5

      # Setup java
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@62f4f872db3836360b72999f4b87f1ff13310f3a

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          DOCKER_HOST: unix:///var/run/docker.sock
          FULL_IMAGE_NAME: ${{ steps.login-ecr.outputs.registry }}/${{ vars.ECR_REPOSITORY }}:${{ github.sha }}
        run: |
          chmod +x ./mvnw
          echo "::group::Maven Build & Dockerize to image: $FULL_IMAGE_NAME"
          ./mvnw spring-boot:build-image \
            -ntp \
            -Dspring-boot.build-image.imageName=$FULL_IMAGE_NAME
          echo "::endgroup::"
          docker push $FULL_IMAGE_NAME

#         Allow the next step to grab the full image name
          echo "image=$FULL_IMAGE_NAME" >> $GITHUB_OUTPUT